
/* To add some space below the navigation bar */

 body {
  margin-top: 100px;
}


/* add some color - if you want color behind a major point on your website */

.banner_color {
  background-color: lightblue;
  font-weight:bold;

}

/* Style buttons - if you want some text centered and bolded */

.center {
  font-weight:bold;
  text-align: center;
}

/* Style buttons - if you want to have a button */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.main_question{
  margin: 1em 0;
  border: 2px solid #d6dbe5;
  border-left: 10px solid #7ce364;
  border-radius: 10px;
  background-color: #d6dbe5;
}

.main_question_header {
  margin-left: 0em;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: #7ce364;
  border: 2px solid #d6dbe5;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("assets/box_images/question.png");
}

.main_question_block {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  border: 2px solid #d6dbe5;
  background-color: #d6dbe5;
  border-bottom-right-radius: 10px;
}

.think_question_header{

}

.think_question_block {
  margin: .2em;
  padding: .2em;
  border: 1px solid black;
  border-radius: 5px;
  background: #d6dbe5;
  color: black;
  font-weight: bold
}

.reference_header{

}

.reference_block {
  margin: .2em;
  padding: .2em;
  border: 1px solid black;
  border-radius: 5px;
  background: #d6dbe5;
  color: black;
  font-weight: bold;
}

.diclaimer_header{

}

.disclaimer_block {
  margin: .2em;
  padding: .2em;
  border: 1px solid black;
  border-radius: 5px;
  background: #d6dbe5;
  color: black;
  font-size: 20px;
}

.license_header{

}

.license_block {
  margin: .2em;
  padding: .2em;
  border: 1px solid black;
  border-radius: 5px;
  background: #d6dbe5;
  color: black;
  font-weight: bold;
}

.scrollable {
   white-space: pre !important;
   max-height: 400px;
   overflow-y: scroll !important;
   height: 50vh !important;
}

.outline {
   padding: .1em;
   border: 1px solid black;
   background-color: #000000;
   display: inline-block;
}

.blue-outline {
   background-color: #beeffd;
   padding:10px;
   display: inline-block;
}
